@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Poppins";
    src: url("./lib/fonts/poppins/Poppins-Regular.ttf");
} */

@font-face {
    font-family: "Open Sans", serif;
    src: url("./lib/fonts/open_sans/OpenSans_SemiCondensed-Regular.ttf");
}

body, main {
    overflow-x: hidden;
    scroll-behavior: smooth; 
    font-family: "Open Sans", serif;
}

[data-theme="dark"] .btn {
  @apply bg-red-500;
}

@layer components {
    .bb {
        @apply border border-black;
    }

    .icon {
        @apply filter dark:invert;
    }
}