/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Open Sans", serif;
    src: url("./lib/fonts/open_sans/OpenSans-Regular.ttf");
}

 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body,
main {
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* font-family: "Open Sans", serif; */
    /* font-family: "Open Sans", serif; */
}



:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    overflow-y: hidden;
    scrollbar-gutter: unset;
}



@layer components {
    .bb {
        @apply border border-black;
    }

    :root:has(input.theme-controller[value=dark]:checked) img.icon,
    .dark-invert {
        @apply filter invert;
    }

    html[data-theme=forest] img.icon,
    .dark-invert {
        @apply filter invert;
    }

    html[data-theme="halloween"] img.icon,
    .dark-invert {
        @apply filter invert;
    }

    html[data-theme="synthwave"] img.icon,
    .dark-invert {
        @apply filter invert;
    }

    @media (prefers-reduced-motion: no-preference) {
        .animate-pop {
            animation: button-pop var(--animation-btn, 0.25s)ease-out;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .animate-pop-delayed {
        --delay: 0ms;
        opacity: 0;
        animation: fade 0.1s ease-in-out forwards, button-pop var(--animation-btn, 0.25s) ease-out;
        animation-delay: var(--delay);
    }

    @keyframes slideX {
        from {
            opacity: 0;
            transform: translateX(100px);
            /* Start 20px below */
        }

        to {
            opacity: 1;
            transform: translateX(0);
            /* End at original position */
        }
    }

    @keyframes slide-X {
        from {
            opacity: 0;
            transform: translateX(-100px);
            /* Start 20px below */
        }

        to {
            opacity: 1;
            transform: translateX(0);
            /* End at original position */
        }
    }

    /* Apply the animation to the items */
    .animate-x {
        --delay: 0ms;
        opacity: 0;
        /* Start invisible */
        animation: slideX 0.5s ease-in-out forwards;
        /* Animation properties */
        animation-delay: var(--delay);
    }

    /* Apply the animation to the items */
    .animate--x {
        --delay: 0ms;
        opacity: 0;
        /* Start invisible */
        animation: slide-X 0.5s ease-in-out forwards;
        /* Animation properties */
        animation-delay: var(--delay);
    }

    @keyframes slideY {
        from {
            opacity: 0;
            transform: translateY(100px);
            /* Start 20px below */
        }

        to {
            opacity: 1;
            transform: translateY(0);
            /* End at original position */
        }
    }

    @keyframes slide-Y {
        from {
            opacity: 0;
            transform: translateY(-100px);
            /* Start 20px below */
        }

        to {
            opacity: 1;
            transform: translateY(0);
            /* End at original position */
        }
    }

    /* Apply the animation to the items */
    .animate-y {
        --delay: 0ms;
        opacity: 0;
        /* Start invisible */
        animation: slideY 0.5s ease-in-out forwards;
        /* Animation properties */
        animation-delay: var(--delay);
    }

    /* Apply the animation to the items */
    .animate--y {
        --delay: 0ms;
        opacity: 0;
        /* Start invisible */
        animation: slide-Y 0.5s ease-in-out forwards;
        /* Animation properties */
        animation-delay: var(--delay);
    }
}